
h1 {
  font-family: "Andale Mono";
  color: white;
}

h2 {
  font-family: "Andale Mono";
  color: white;
}

p {
  font-family: "Andale Mono";
  color: white;
}

ul {
  font-family: "Andale Mono";
  color: white;
}

li {
  font-family: "Andale Mono";
  
  color: white;
}

a {
  color: hotpink;
}
